@font-face {
    font-family: pacifico;
    src: url('fonts/pacifico.ttf');
}
@font-face {
    font-family: gausssian;
    src: url('fonts.gaussian-blur.ttf');
}
html{
  height:100%;
}
body{
  background:none;
  width:100%;
  height:100%;
  margin:0;
  &.front {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    margin: 0px;
    overflow: hidden;
    background-size: cover;
  }
  &.page-node-7{
    background: url(../images/moon-bg.jpg) no-repeat center center fixed;
    margin: 0px;
    overflow: hidden;
    background-size: cover;
  }
  &.page-node-8{
    background: url(../images/shop-bg.jpg) no-repeat center center fixed;
    margin: 0px;
    overflow: hidden;
    background-size: cover;
  }
}
#block-system-main{
  display: none;
}
.main-link {
  position:absolute;
  margin:0;
  padding: 5px 20px;
  height: auto;
  width:300px;
  display: none;
  a{
    font-family: 'pacifico';
    font-size: 1.5em;
    text-align: center;
    color: #000;
    text-shadow:0 0 2px #fff;
    text-decoration: none;
    div:before, div:after{
      content:'"';
    }
  }
}
/*main menu*/
#block-system-main-menu{
  h2{
    display:none;
  }
  ul.menu{
    list-style: none;
    li{
      margin:0;
      padding:0;
      &.leaf{
        list-style-image: none;
        list-style-type: none;
      }
      a{
        height:150px;
        width:150px;
        font-family: 'pacifico';
        font-size: 1.25em;
        color: #000;
        text-shadow:0 0 1px #fff;
        text-decoration: none;
        text-align: center;
      }
      &.first a{
        background-image: url(../images/corner_left.svg);
        position: absolute;
        top:0;
        left:0;
        .front-menu-link{
          position: absolute;
          top:10px;
          left:0px;
          -ms-transform: rotate(-45deg); /* IE 9 */
          -webkit-transform: rotate(-45deg); /* Safari */
          transform: rotate(-45deg); /* Standard syntax */
        }
      }
      &.last a{
        background-image: url(../images/corner_right.svg);
        position: absolute;
        top:0;
        right:0;
        .front-menu-link{
          position: absolute;
          top:10px;
          right:0px;
          -ms-transform: rotate(45deg); /* IE 9 */
          -webkit-transform: rotate(45deg); /* Safari */
          transform: rotate(45deg); /* Standard syntax */
        }
      }
    }
  }
}
/*user login form*/
#block-user-login{
  position: absolute;
  top:0px;
  left:40%;
  h2{
    display:none;
  }
  .form-item{
    display:inline-block;
    label{
      display:none;
    }
    ul{
      list-style:none;
    }
    li{
      display:inline;
    }
    a{
      text-decoration:none;
      color:#fff;
    }
  }
}
.block-commerce-cart{
  position:absolute;
  bottom: 0;
  right:0;
  width:25%;
}
/*messages*/
div.messages {
  position:absolute;
  bottom:0;
  left:0;
  background-position: 8px 8px;
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px;
}